.userindex
  .search-user
    = form_with(url: search_users_path, local: true, method: :get, class: "search-form") do |form|
      = form.text_field :keyword, placeholder: "ユーザーを検索する", class: "search-input"
      = form.submit "検索", class: "search-btn"
  .user-list
    %table
      - @users.each do |user|
        %tr
          %th
            =link_to user_path(user.id) do
              =user.nickname
          %td
            -if current_user.following?(user)
              = link_to 'フォロー外す', unfollow_path(user.id), method: :POST
            -else
              = link_to 'フォローする', follow_path(user.id), method: :POST