.show
  .show__top
    .show__top--vocab
      =@post.vocab
    .show__top--image
      =image_tag @post.image.url, class: 'vocabimage', size: "202x202"
  .show__bottom
    .show__bottom--definition
      =@post.definition
    .show__bottom--example
      =@post.example
  %h3 いいね件数
  = @post.likes.count
  -if current_user.already_liked?(@post)
    = button_to 'いいねを取り消す', post_like_path(@post), method: :delete
  -else
    = button_to 'いいね', post_likes_path(@post)
  %h4 いいねしたユーザー
  -@post.liked_users.each do |user|
    = user.nickname
  =link_to post_path(@post.id), method: :delete do
    削除
  = link_to '編集', edit_post_path(@post.id), method: :get
  -if user_signed_in?
    =form_with model:[@post, @comment],class:"commentform", local: true, id: "new_comment" do |f|
      = f.text_area :text, placeholder: "コメントする"
      = f.submit "SEND"
  -else
    ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
  -if @comments
    %h4　コメント一覧
    -@comments.each do |comment|
      = link_to comment.user.nickname, "/users/#{comment.user_id}"
      = comment.text
- if @post.previous.present?
  = link_to post_path(@post.previous) do
    前の投稿
- if @post.next.present?
  = link_to post_path(@post.next) do
    次の投稿